* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}
p {
  font-size: 1.5rem;
}
.profile_img {
  border-radius: 100%;
  bottom: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  background: linear-gradient(
    360deg,
    #3c3c3c 0%,
    rgba(60, 60, 60, 0.604167) 32.81%,
    rgba(60, 60, 60, 0) 100%
  );
  width: 100%;
  height: 100%;
  bottom: 0;
  color: rgb(255, 255, 255);
  padding: 1rem;
}
p {
  margin-bottom: 0 !important;
}
.box {
  background-color: #3c3c3c23;
  padding: 1rem;
}
.bg {
  height: 11.5rem;
  width: 100%;
}

:root {
  --mail: #f30f40;
  --mail-bg: #f30f5b99;
  --github: #6e549499;
  --github-bg: #6e549499;
  --linkedin: #0a66c2;
  --linkedin-bg: #0a66c299;
  --icons-hover-bg: #d4d0d08c;
}

.email {
  border-radius: 50% 50% 46% 54% / 39% 45% 55% 61%;
  background-color: var(--mail-bg);
  padding: 0.1rem 1.1rem 0.6rem 1.1rem;
}

.github {
  border-radius: 50% 50% 48% 52% / 58% 46% 54% 42%;
  background-color: var(--github-bg);
  padding: 0.1rem 1.1rem 0.6rem 1.1rem;
}
.linkin {
  border-radius: 54% 46% 52% 48% / 49% 50% 50% 51%;
  background-color: var(--linkedin-bg);
  padding: 0.1rem 1.1rem 0.6rem 1.1rem;
}

.email:hover {
  background-color: var(--icons-hover-bg);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.mail:hover {
  color: var(--mail) !important;
}
.github:hover {
  background-color: var(--icons-hover-bg);
  transition: all 0.5s ease-in-out;
}
.git:hover {
  color: var(--github) !important;
}

.linkin:hover {
  background-color: var(--icons-hover-bg);
  transition: all 0.5s ease-in-out;
}
.link:hover {
  color: var(--linkedin) !important;
}

.spot-top {
  background-color: rgb(0 188 212 / 33%);
  border-radius: 64% 36% 50% 50% / 48% 53% 47% 52%;
  height: 400px;
  width: 486px;
  top: -209px;
  right: -121px;
  z-index: -1;
  position: absolute;
}

.img-spot_1 {
  background-color: rgb(176 43 39 / 16%);
  border-radius: 36% 64% 39% 61% / 66% 41% 59% 34%;
  height: 78px;
  width: 93px;
  z-index: -1;
  position: absolute;
}
.img-spot_2 {
  background-color: rgb(12 138 236 / 70%);
  border-radius: 66% 34% 39% 61% / 66% 67% 33% 34%;
  height: 400px;
  width: 387px;
  right: -352px;
  bottom: -33px;
  z-index: -1;
  position: absolute;
}
.img-spot_3 {
  background-color: #9b27b052;
  border-radius: 66% 34% 39% 61% / 66% 67% 33% 34%;
  height: 43px;
  width: 47px;
  bottom: -33px;
  z-index: -1;
  position: absolute;
}

.text-spot {
  background-color: rgb(0 188 212 / 33%);
  border-radius: 66% 34% 39% 61% / 66% 67% 33% 34%;
  height: 143px;
  width: 154px;
  bottom: -112px;
  z-index: -1;
  position: absolute;
}
.bi-arrow-right {
  width: 40px;
}
.arrow:hover {
  transform: translateX(3px);
  cursor: pointer;
}

.bi-eye-fill:hover {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  color: #1e9ad4;
}
.card-title:hover {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  color: #1e9ad4;
}

.assignment:hover .bg {
  transform: scale(1.1, 1.1);
  transition: all 0.5s ease-in-out;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .box {
    margin-bottom: 6px;
  }
  .social {
    justify-content: space-around !important;
    flex-direction: column !important;
  }
  .profile_img {
    width: 100%;
  }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .div-border {
    border-left: 1px solid rgba(0, 0, 0, 0.425);
  }
  .profile_img {
    width: 50%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
